<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.jackzhan.cloudstore.mapper.MemberMapper">
    <resultMap id="BaseResultMap" type="club.jackzhan.cloudstore.module.entities.Member">
        <!--@mbg.generated-->
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="pwd_err_count" property="pwdErrCount"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="phone_code" property="phoneCode"/>
        <result column="phone_code_time" property="phoneCodeTime"/>
        <result column="email" property="email"/>
        <result column="state" property="state"/>
        <result column="type" property="type"/>
        <result column="head_img" property="headImg"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="login_count" property="loginCount"/>
    </resultMap>
    <resultMap id="MemberResultMap" type="club.jackzhan.cloudstore.module.dto.MemberDTO">
        <!--@mbg.generated-->
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="pwd_err_count" property="pwdErrCount"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="phone_code" property="phoneCode"/>
        <result column="phone_code_time" property="phoneCodeTime"/>
        <result column="email" property="email"/>
        <result column="state" property="state"/>
        <result column="type" property="type"/>
        <result column="head_img" property="headImg"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="login_count" property="loginCount"/>
        <collection property="roles" ofType="club.jackzhan.cloudstore.module.dto.RoleDTO" columnPrefix="role_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="desc" property="description"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
       <!--@sql select-->
        id, username, `password`, salt, pwd_err_count, nickname, phone, phone_code, phone_code_time,
        email, `state`, `type`, head_img, create_time, update_time, last_login_time,
        login_count
        <!--@sql from member-->
    </sql>

    <!--auto generated by MybatisCodeHelper on 2019-04-18-->
    <select id="getMember" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM member
        WHERE (username=#{loginName} OR phone=#{loginName})
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-05-17-->
    <select id="list" resultMap="MemberResultMap">
        SELECT
        m.id,
        m.nickname,
        m.phone,
        m.username,
        m.state,
        m.type,
        m.create_time,
        m.update_time,
        m.update_user,
        mr.role_desc,
        mr.role_id,
        mr.role_name
        FROM
        (SELECT *
        FROM member
        WHERE 1=1
        <include refid="querySql"/>
        LIMIT #{offSet}, #{pageSize}) m
        LEFT JOIN member_role mr ON m.id = mr.member_id
    </select>
    <sql id="querySql">
        <!--@sql select count(1) from member where 1=1-->

        <if test="request.username != null and request.username != ''">
            AND username = #{request.username}
        </if>
        <if test="request.loginName != null and request.loginName != ''">
            AND username=#{request.loginName} OR phone=#{request.loginName}
        </if>
        <if test="request.phone != null and request.phone != ''">
            AND phone = #{request.phone}
        </if>
    </sql>
    <select id="countByQuery" resultType="java.lang.Integer">
        select count(1)
        from member
        where 1=1
        <include refid="querySql"/>
    </select>
    <insert id="insertMemberRole">
        insert into member_role (member_id, role_id, role_name, role_desc) VALUES
        <foreach collection="roles" separator="," item="role">
            (#{memberId}, #{role.id}, #{role.name},#{role.description})
        </foreach>
    </insert>


</mapper>
