<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.jackzhan.cloudstore.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="club.jackzhan.cloudstore.entities.Menu">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="labels" jdbcType="VARCHAR" property="labels" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="permission_code" jdbcType="VARCHAR" property="permissionCode" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="permission_id" jdbcType="VARCHAR" property="permissionId" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@sql select -->
    id, menu_code, `name`, `path`, component, icon, labels, is_show, sort_order, parent_id,
    permission_code, created_by, created_at, update_by, update_at, permission_id, `type`
    <!--@sql from menu-->
  </sql>

<!--auto generated by MybatisCodeHelper on 2019-04-29-->
  <select id="getByPermissionIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from menu
    where permission_id in (#{permissionIds})
  </select>
</mapper>
