<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.jackzhan.cloudstore.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="club.jackzhan.cloudstore.entities.Role">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="type" jdbcType="BIT" property="type"/>
        <result column="state" jdbcType="BIT" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@sql select -->
        r.id, r.parent_id, r.code,r.`name`, r.description, r.`type`, r.`state`, r.create_time, r.update_time,
        r.update_user
        <!--@sql from role r-->
    </sql>

    <select id="getByMemberId" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM role r
            JOIN member_role mr ON r.id = mr.role_id
        WHERE mr.member_id = #{memberId}
    </select>

    <select id="getAllRolesByStateAndType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role r
        where r.`state`=#{state,jdbcType=BIT} and r.`type`=#{type,jdbcType=BIT}
    </select>
    <insert id="insertRolePerms">
        insert into role_permissions (role_id, permissions_id) VALUES
        <foreach collection="perms" separator="," item="perm">
            (#{id}, #{perm})
        </foreach>
    </insert>
    <delete id="deleteMemberRole">
        delete from member_role where role_id in
        <foreach collection="list" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteRolePermission">
        delete from role_permissions where role_id in
        <foreach collection="list" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>
    <update id="updateRolePerms">
        delete from role_permissions where role_id = #{id};
    </update>
</mapper>
